@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in{
animation: slide-in 400ms ease-in-out forwards;
}
.slide-out{
  animation: slide-out 300ms ease-in-out forwards;
}


@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(100%);
    overflow: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0%);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(100%);
    overflow: hidden;
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
    filter: hue-rotate(30deg);
    overflow: hidden;
  }
  100% {
    opacity: 1;
    filter: hue-rotate(0deg);
  }
}

.has-animation:hover .popup-animation{
  animation: pop-up 300ms ease-in-out forwards;
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-2 h-2 bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-stone-500 bg-opacity-30;
  }
}

.has-tooltip:hover .underline-animation {
  @apply opacity-60 transition-all translate-x-0 duration-300 blur-0 ease-in;
}
