@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

/*
.hover-line-through {
  animation: fade-in 0.5s ease-in-out forwards;
}  */

.has-tooltip:hover .underline-special {
  @apply opacity-60 transition-all translate-x-0 duration-300 blur-0 ease-in;
}

